<%# FOOTER %>
<div class="footer">
  <div class="container text-black">
    <div class="row">
      <div class="about-links col-4 ps-md-0 mb-30">
        <ul>
          <li class='titles'>ABOUT US</li>
          <li class='icones'><a href="#">Press</a></li>
          <li class='icones'><a href="#">Legal notice</a></li>
          <li class='icones'><a href="#">Privacy Policy</a></li>
          <li class='icones'><a href="#">About Racoon and Burgers</a></li>
        </ul>
      </div>
      <div class="footer-socials-media col-4 mb-30">
        <ul>
          <li>CONTACT US</li>
          <li class='icones'><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li class='icones'><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class='icones'><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="newsletter col-4 ps-md-0 mb-30">
        <p>NEWSLETTER</p>
        <a class="btn" href="#">Subscribe</a>
      </div>
    </div>
  </div>
</div>
