// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$primary: #283618;
$secondary: #BC6C25;
$ternary: #606C38;
$background: #FEFAE0;
$light-brown: #DDA15E;
$violet: #6f42c1;
