
<div class="banner">
  <div class="txt-title-background">Racoons and Burgers</div>
  <div class="txt-title-background">Pick your Favorite Racoon and enjoy your Meal !</div>
</div>
<div class="container">
  <div>
    <% if !@racoons.empty? %>
      <div class="card-title">Our racoons are the best chefs in the world !</div>
    <% else %>
      <div>Sorry, we did not find any results...</div>
    <% end %>
    <%= render "shared/cards_racoons" %>
  </div>
</div>
