<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://i.pinimg.com/originals/74/98/52/749852f182bcf4f96c99d311af4385d8.jpg);">
  <div class="container">
    <h1>Our racoons are the best chefs in the world !</h1>

      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div id="form" class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder='Search your racoon !' />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>

  </div>
</div>




<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum ullam odio aperiam dolore magni atque temporibus quaerat suscipit, laboriosam eius dolorum itaque, quasi ratione et a explicabo vel illum.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae porro laudantium eius deleniti autem voluptates asperiores quam ducimus reprehenderit? Dolorem eum sunt nihil cumque. Eos delectus suscipit veniam fuga!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem, a fugit asperiores quia illum hic deleniti soluta maxime cupiditate impedit, sunt ipsam enim eaque nisi dolore accusantium rerum molestiae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nemo quod repellendus consectetur eligendi sapiente ratione facilis, harum aliquam sint eius voluptatum inventore commodi voluptatibus! Adipisci, illo! Pariatur, aliquid impedit!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut, cum perspiciatis ullam reprehenderit culpa reiciendis dolorum est aliquid ratione assumenda enim obcaecati blanditiis nesciunt sunt ipsam. Ullam, voluptas suscipit!</p>
