<div class="banner"></div>

<h1>The Title h1</h1>
<h2>The Title h2</h2>
<h3>The Title h3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et corrupti magni doloribus, temporibus fuga recusandae dolores voluptates cum est obcaecati! Nesciunt ipsam maxime accusamus mollitia quisquam sint beatae voluptate.</p>
<p><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui in quod fuga unde assumenda repellendus perferendis consectetur, aspernatur velit nihil tempore, tempora incidunt veritatis necessitatibus molestias suscipit vel eius doloribus!</strong></p>

<hr>

<div class='btn btn-primary p-2'>Press Me 😉</div>
<div class='btn btn-secondary p-2'>Press Me 😉</div>
<div class='btn btn-outline-primary p-2'>Press Me 😉</div>
<div class='btn btn-outline-secondary p-2'>Press Me 😉</div>

<hr>
<div class="cards-racoon">
  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://t4.ftcdn.net/jpg/04/50/96/23/240_F_450962330_w4RDU0GCIeKy0QvSxBuJ0MHp4mkuXWts.jpg')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>

  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ39h4zXnFKMnqAY9aHwvNFm18tREWVaSma_w&usqp=CAU')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>

  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS884wXeMRNLvh6NJaQnHu7LFC4WmXDcbNCxw&usqp=CAU')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>

  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS884wXeMRNLvh6NJaQnHu7LFC4WmXDcbNCxw&usqp=CAU')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>

  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS884wXeMRNLvh6NJaQnHu7LFC4WmXDcbNCxw&usqp=CAU')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>

  <div class="card-racoon">
    <div class="card-racoon-img" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS884wXeMRNLvh6NJaQnHu7LFC4WmXDcbNCxw&usqp=CAU')"></div>
      <div class="card-racoon-bottom">
        <div class="card-racoon-bottom-left">
          <p class="card-racoon-bottom-left-name">John Doe</p>
          <p class="card-racoon-bottom-left-rating"><i class="fa-solid fa-star"></i><i>4.9</i></p>
          <p class="card-racoon-bottom-left-city">Toulouse</p>
        </div>
      <p class="card-racoon-bottom-right-price">70€</p>
    </div>
  </div>
</div>
