<h1>The Title h1</h1>
<h2>The Title h2</h2>
<h3>The Title h3</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et corrupti magni doloribus, temporibus fuga recusandae dolores voluptates cum est obcaecati! Nesciunt ipsam maxime accusamus mollitia quisquam sint beatae voluptate.</p>
<p><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui in quod fuga unde assumenda repellendus perferendis consectetur, aspernatur velit nihil tempore, tempora incidunt veritatis necessitatibus molestias suscipit vel eius doloribus!</strong></p>

<div class='btn btn-primary p-2'>Press Me 😉</div>
<div class='btn btn-secondary p-2'>Press Me 😉</div>
<div class='btn btn-outline-primary p-2'>Press Me 😉</div>
<div class='btn btn-outline-secondary p-2'>Press Me 😉</div>

<%# NAVBAR %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://t4.ftcdn.net/jpg/02/21/13/29/360_F_221132937_6X32xmuAeHgS7x6aYshPEnkuIrswoBQk.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link primary" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link primary" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://burgerkingfrance.twic.pics/img/products/f/37/f378eae5-61a3-459f-b40f-4057b4f88e96_?twic=v1/contain=700x700" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
