.banner {
  height: 240px;
  background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8) 70%),
  url(http://res.cloudinary.com/ddmdozj39/image/upload/q_auto:low/v1685699841/g1daul9elpxh4ufhaztz.png);
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    text-align: center;
    max-width: 30%;
    padding-left: 40px;
    margin: 0 40px 0 40px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
