.btn {
  padding: 8px!important;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;

}

.btn-primary {
  transition: background-color 1s ease!important;
  background-color: $primary!important;
  border-color: $ternary!important;
  color: white!important;
  &:hover {
    color: $secondary!important;
    background-color: $ternary!important;
    border-color: $primary!important;
  }
}

.btn-secondary {
  transition: background-color 1s ease!important;
  background-color: $secondary!important;
  border-color: $light-brown!important;
  color: white!important;
  &:hover {
    // padding: 12px!important;
    font-weight: bold!important;
    background-color: rgba($light-brown, $alpha: 0.4)!important;
    border-color: $secondary!important;
  }
}

.btn-outline-secondary {
  &:hover {
    color: white;
  }
}

.btn-ghost:hover {
  opacity: 1;
}
