.btn {
  padding: 12px 16px!important;
}

.btn-primary {
  &:hover {
    background-color: $ternary!important;
    border-color: $ternary!important;
  }
}

.btn-secondary {
  color: white!important;
  &:hover {
    background-color: $light-brown!important;
    border-color: $light-brown!important;
  }
}

.btn-outline-secondary {
  &:hover {
    color: white;
  }
}
