.footer {
  background: $primary;
  padding: 0px 50px;
  color: $background;
  a {
    color: $background;
    text-decoration: none;
    padding: 4px;
    margin-bottom: 4px;
  }
  a:hover {
    text-decoration: none;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 20px;
  }
}
