ul {
  list-style-type: none;
  li {
    padding: 4px 8px 4px 4px;
    margin-bottom: 4px;
  }
}

.ul-flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ul-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px;
}

.ul-primary {
  color: $primary;
}

.ul-secondary {
  color: $background;
}

.li-primary {
  color: $primary;
}

.li-secondary {
  color: $background;
}
