.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  &:hover {
    color: $secondary;
  }
}

a.dropdown-item:hover {
  background-color: $light-brown;
}

.navbar-brand {
  background-color: white;
  border-radius: 50%;
}
